[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
X-Ubuntu-Touch=true
Name=MAPS.ME
Keywords=
Exec=MAPS.ME
Icon=
X-Ubuntu-Splash-Color=#FFFFFF
